@use '../../../root/app' as s;

.produits{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.produit{
  flex: 0 1 350px;
  max-width: 350px;
  background-color: s.$secondary-color;
  border: 5px solid s.$primary-color;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  .header{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    background-color: s.$primary-color;
    color: s.$secondary-color;
    img{
      width: 24px;
    }
  }

  .content{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    h3{
      color: s.$primary-color;
      font-weight: bold;
    }

    p{
      padding: 0.5rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: s.$primary-color;
      text-align: center;
    }

    .promo{
      display: flex;
      text-align: center;
      p{
        text-decoration: line-through;
        flex:1;
        font-size: 1.2rem;
        font-weight: bold;
      }
      p:last-child{
        text-decoration: none;
        flex:1;
        color: red;
      }
    }

  }
}


.produit.pasdisponible::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(s.$primary-color, 0.5);
}

.produit.pasdisponible>p {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  text-align: center;
}

button {
  color: s.$primary-color;
  margin: 0.25rem;
  border: 2px solid s.$primary-color;
  border-radius: 10px;
  background-color: s.$secondary-color;
}

button:active {
  transform: translateX(0.1em) translateY(0.1em);
}

button:hover {
  background-color: s.$primary-color;
  color: s.$secondary-color;
}





