@use '../../root/app' as s;

.navbar{
  display: flex;

  .logo{
    flex: 0 1 250px;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;
    p{
      color: s.$secondary-color;
      font-size: 1.2rem;
      font-weight: bold;
    }
    img{
      height: 48px;
    }
  }
  .nav-menu{
    flex: 9;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: s.$secondary-color;
    padding: 1rem;
    padding-right: 2.5rem;
    gap: 2.5rem;
    //region Menu

    .menu {
      position: relative;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          color: s.$primary-color;
          margin: 0.25rem;
          border-radius: 10px;
          background-color: s.$secondary-color;
          padding: 0.5rem 1rem;
          text-decoration: none;
        }

        .submenu {
          display: none;
          position: absolute;
          top: 2.5rem;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          border-radius: 8px;
          flex-direction: column;
          align-items: center;
          z-index: 10;
          background-color: s.$primary-color;

          .submenu-link {
            display: block;
            padding: 0.75rem 1.5rem;
            margin: 0.5rem 0;
            color: s.$primary-color;
            background-color: s.$secondary-color;
            text-decoration: none;
            border-radius: 8px;

            &:hover {
              background-color: lighten(s.$primary-color, 10%);
              color: s.$secondary-color;
            }

          }
        }

        &:hover .submenu {
          display: flex;
        }
      }
    }


    //endregion
  }
}


